.password-wrapper{
    position: relative;
}
.toggle-button{
    position: absolute;
    transform: translateX(0) translateY(-50%);
    right: 5%;
    background: none;
    border: none;
    font-size: 1rem;
    top: 50%;
}
input{
    height: 50px;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    width: 100%;
    font-size: 1rem;
    background-color: var(--text-gray);
    font-weight: bolder;
}